<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/util
           http://www.springframework.org/schema/util/spring-util.xsd">

    <context:property-placeholder location="classpath:application.properties" file-encoding="UTF-8"/>

    <!-- Основной бин PhoneBook -->
    <bean id="phoneBook"
          class="com.eddiAnton.model.PhoneBook"
          scope="singleton">
        <property name="personList" ref="personList"/>
    </bean>

    <!-- Список персон -->
    <util:list id="personList">
        <ref bean="person1"/>
        <ref bean="person2"/>
    </util:list>

    <!-- Персона 1 с контактами -->
    <bean id="person1" class="com.eddiAnton.model.Person">
        <constructor-arg name="firstName" value="${person1.firstName}"/>
        <constructor-arg name="lastName" value="${person1.lastName}"/>
        <constructor-arg name="surname" value="${person1.surname}"/>
        <property name="personContacts">
            <list>
                <bean class="com.eddiAnton.model.Email">
                    <constructor-arg name="contactType" value="EMAIL"/>
                    <constructor-arg name="emailType" value="personal"/>
                    <constructor-arg name="email" value="ivanov@example.com"/>
                </bean>
                <bean class="com.eddiAnton.model.Phone">
                    <constructor-arg name="contactType" value="PHONE"/>
                    <constructor-arg name="phoneType" value="mobile"/>
                    <constructor-arg name="phoneNumber" value="+79139139999"/>
                </bean>
            </list>
        </property>
    </bean>

    <!-- Персона 2 с контактами -->
    <bean id="person2" class="com.eddiAnton.model.Person">
        <constructor-arg name="firstName" value="${person2.firstName}"/>
        <constructor-arg name="lastName" value="${person2.lastName}"/>
        <constructor-arg name="surname" value="${person2.surname}"/>
        <property name="personContacts">
            <list>
                <bean class="com.eddiAnton.model.Email">
                    <constructor-arg name="contactType" value="EMAIL"/>
                    <constructor-arg name="emailType" value="work"/>
                    <constructor-arg name="email" value="petrov@company.com"/>
                </bean>
            </list>
        </property>
    </bean>
</beans>
